<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>后台新闻管理系统</title>
    <meta name="viewport" content="width=device-width">
    <link href="/admin/css/login.css" rel="stylesheet" type="text/css">
    <link href="/admin/css/base.css" rel="stylesheet" type="text/css">
</head>
<body style=" width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    font-family: 'microsoft yahei';
    background-image: url(/admin/images/login_bg.jpg);">
    <div class="login">
        <div class="logo"></div>
        <div class="login_form">
            <div class="user">
                <input class="text_value" value="" name="username" type="text" id="username" onkeydown=KeyDown()>
                <input class="text_value" value="" name="password" type="password" id="password" onkeydown=KeyDown()>
            </div>
            <button class="button" id="submit" onclick="login()" type="submit">登录</button>
        </div>
        <div id="tip"></div>
        <div class="foot">
            Copyright © 2011-2019  All Rights Reserved.
        </div>
    </div>

    <script type="text/javascript" src="/admin/js/jquery.min.js"></script>
    <script type="text/javascript" src="/admin/layer/layer.min.js"></script>
    <script type="text/javascript" src="/admin/js/pagenav.cn.js"></script>
    <script>
        $(document).ready(function () {
            $("#username").focus();
        });
        function login() {
            var username = $("#username").val();
            var password = $("#password").val();
            if (username == "") {
                layer.msg('请输入用户名', 1);
                $("#username").focus();
                return false;
            }
            if (password == "") {
                layer.msg('请输入密码', 1);
                $("#password").focus();
                return false;
            }
            $.ajax({
                type: 'post',
                async: true,
                url: '/Admin/Login/CheckUser',
                data: { username: username, password: password, type: '1' },
                success: function (result) {
                    if (result.code == 200) {
                        window.location.href = "/admin/Home?username=" + username;
                    } else {
                        layer.msg(result.result, 1);
                    }
                }
            });
        }
        function KeyDown() {
            if (event.keyCode == 13) {
                event.returnValue = false;
                event.cancel = true;
                login();
            }
        }
        function reload() {
            location.replace(location.href);
        }
    </script>
</body>
</html>
